@import "tailwindcss";

@theme{
  --color-background: #0b1220;
  --color-foreground: #eef4ff;

  --color-card: #111c2d;

  --color-primary: #38bdf8;
  --color-primary-foreground: #07111f;

  --color-secondary: #18263a;
  --color-secondary-foreground: #38bdf8;

  --color-muted: #223249;
  --color-muted-foreground: #8fa3bb;

  --color-border: #26384f;

  --radius: 0.75rem;

  --color-highlight: #f5b942;
  --color-surface: #142238;
}

@layer base{
  html{
    scroll-behavior: smooth;
  }

  body{
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: "Inter", sans-serif;
  }

  .font-serif{
    font-family: "Playfair Display", serif;
  }
}